#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  --text-color: #272890;
  --contrast-color: #ffa500;
  --light-color: #aaa;

  --font-sans-serif: 'Montserrat', sans-serif;
  --font-serif: 'Suez One', serif;
}

body {
  color: var(--text-color);
  font-family: var(--font-sans-serif);
}

a {
  border-bottom: 2px solid var(--contrast-color);
  text-decoration: none;
  position: relative;

  &:link, &:visited { color: var(--text-color); }
  &:hover { color: var(--contrast-color); }
  &:active {
    display: inline-block;
    transform: translateY(0.2rem);
  }
}

footer {
  color: var(--light-color);
  font-size: .7em;
  margin-top: 7em;
  padding: 2em 0;
}

h1 {
  font-family: var(--font-serif);
  font-size: 1.2em;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-serif);
  font-size: 1.1em;
  text-align: center;
}

h1, h2 {
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1em;
  line-height: 1.4em;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

.center { display: block; margin: 0 auto; text-align: center; }
.color-bold-trans { color: var(--contrast-color); }
.display-hidden { display: none; }
.logo-m { width: 8em; }
.logo-s { width: 30px; }
.nowrap { display: inline-block; margin-right: .2em; }
.opacity-01 { opacity: .3; }
.right { float: right; }

@media (min-width: 1000px) {
  html { font-size: 22px; }
  #content { width: 500px; }
  #page { width: 1000px; }
}

@media (max-width: 1000px) and (min-width: 700px) {
  html { font-size: 20px; }
  #content { width: 450px; }
  #page { width: 600px; }
}

@media (max-width: 700px) {
  html { font-size: 20px; }
}
