#content {
  margin-left: auto;
  margin-right: auto;
}

.center { display: block; margin: 0 auto; text-align: center }
.display-hidden { display: none; }
.logo-animation { margin: 1em auto 0; width: 30%; }
.logo-s { width: 30px; }
.pos-absolute { position: absolute; top: 0; }
.pos-relative { position: relative }
.nowrap { display: inline-block; margin-right: .2em; }
.opacity-01 { opacity: .1; }
.right { float: right; }

.left-to-center-1 {
  animation-duration: 10s;
  animation-name: left-to-center-1;
  margin: 0 auto;
}
@keyframes left-to-center-1 {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  20% {
    margin-left: 0;
    opacity: 0;
    transform: translateX(-500px);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.right-to-center-1 {
  animation-duration: 10s;
  animation-name: right-to-center-1;
}
@keyframes right-to-center-1 {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  20% {
    opacity: 0;
    transform: translateX(500px);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.appear-2 {
  animation-duration: 10s;
  animation-name: appear-2;
}
@keyframes appear-2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.top-to-bottom-3 {
  animation-duration: 10s;
  animation-name: top-to-bottom-3;
}
@keyframes top-to-bottom-3 {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  40% {
    opacity: 0;
    transform: translateY(-500px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear-4 {
  animation-duration: 10s;
  animation-name: appear-4;
}
@keyframes appear-4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.appear-5 {
  animation-duration: 10s;
  animation-name: appear-5;
}
@keyframes appear-5 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.text-to-contrast-6 {
  animation-duration: 10s;
  animation-name: text-to-contrast-6;
  color: var(--text-contrast-color);
}
@keyframes text-to-contrast-6 {
  0% {
    color: var(--text-color);
  }
  70% {
    color: var(--text-color);
  }
  80% {
    color: var(--text-contrast-color);
  }
  100% {
    color: var(--text-contrast-color);
  }
}

@media (min-width: 1000px) {
  html { font-size: 22px; }
  #content { width: 500px; }
  #page { width: 1000px; }
}

@media (max-width: 1000px) and (min-width: 700px) {
  html { font-size: 20px; }
  #content { width: 450px; }
  #page { width: 600px; }
}

@media (max-width: 700px) {
  html { font-size: 16px; }
  .logo-animation { width: 50%; }
}
