:root {
  color: var(--text-color);
  font-family: var(--font-sans-serif);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-sans-serif: 'Montserrat', sans-serif;
  --font-serif: 'Suez One', serif;
  --text-color: #272890;
  --text-contrast-color: #d68100;
  --contrast-color: #ffa500;
  --light-color: #aaa;
}

body {
  display: flex;
  min-height: 100vh;
  place-items: center;
}

#root {
  margin: 0 auto;
  padding: 2em;
}

a {
  border-bottom: 2px solid var(--contrast-color);
  text-decoration: none;
  position: relative;

  &:link, &:visited { color: var(--text-color); }
  &:hover { color: var(--contrast-color); }
  &:active {
    display: inline-block;
    transform: translateY(0.2rem);
  }
}

footer {
  color: var(--light-color);
  font-size: .7em;
  margin-top: 7em;
  padding: 2em 0;
}

h1 {
  color: var(--text-color);
  font-family: var(--font-serif);
  font-size: 1.2em;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: var(--text-color);
  font-family: var(--font-serif);
  font-size: 1.1em;
  text-align: center;
}

h1, h2 {
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1em;
  line-height: 1.4em;
}
